.examples {
  padding: $padding-screen;
  &__title {
    font-size: $subtitle;
    text-align: center;
    margin: 0;
    &:after {
      display: block;
    }
  }
  &__desc {
    text-align: center;
    font-size: $subtitle-min;
    margin: auto;
    padding: $titles;
  }
  .goods {
    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
      padding-bottom: 60px;
      .good {
        width: 22%;
        cursor: pointer;
        img {
          height: 290px;
          width: 290px;
        }
        transition: transform 0.3s ease;
        &:hover{
          transform: scale(1.1);
        }
        &__desc {
          font-weight: 600;
        }
      }
    }
    &__btn {
      text-align: center;
      .btn {
        padding: 0 60px;
        height: 60px;
      }
    }
  }
}